body
{
	background-color: #161423;
}

h1
{
	color: #27257E;
	font-family: "Arial";
	border: double medium ;
	padding: 15px 10px 15px;
	margin: 10px 15px 10px;
	
}

h2
{
	color: #27257E;
	font-family: "Arial";
	border: solid thin;
	padding: 15px 10px 15px;
	margin: 10px 15px 10px;
}


header
{
	height: 100px;
	color: grey;
	font-family: "Arial";
	border: solid thin;
}

aside
{
	height: 600px;
	color:grey;
	font-family: "Arial";
	border: solid thin;
}

section
{
	height: 600px;
	color: grey;
	font-family: "Arial";
	border: solid thin;
}

footer 
{
	height: 100px;
	color: grey;
	font-family: "Arial";
	border: solid thin;
}

.container_12
{
	background-color: #161423;
}
 
.red
{
	background-color: red;
}

.orange
{
	background-color: orange;
}

.yellow
{
	background-color: yellow;
}

.green
{
	background-color: green;
}

.blue
{
	background-color: blue;
}

.indigo
{
	background-color: indigo;
}

.violet
{
	background-color: violet
}