body
{
	background-color: black;
	background-image: url(images/fabric.jfif);
}

h1
{
	color:#992700;
	font-family: "Arial";
	border: double medium ;
	padding: 15px 10px 15px;
	margin: 10px 15px 10px;
	
}

h2
{
	color:#992700;
	font-family: "Arial";
	border: solid thin;
	padding: 15px 10px 15px;
	margin: 10px 15px 10px;
}


header
{
	height: 100px;
	color:#992700;
	font-family: "Arial";
	border: solid thin;
}

aside
{
	height: 600px;
	color:#992700;
	font-family: "Arial";
	border: solid thin;
}

section
{
	height: 600px;
	color:#992700;
	font-family: "Arial";
	border: solid thin;
}

footer 
{
	height: 100px;
	color:#992700;
	font-family: "Arial";
	border: solid thin;
}

.container_12
{

}
 
.red
{
	background-color: red;
}

.orange
{
	background-color: orange;
}

.yellow
{
	background-color: yellow;
}

.green
{
	background-color: green;
}

.blue
{
	background-color: blue;
}

.indigo
{
	background-color: indigo;
}

.violet
{
	background-color: violet
}